h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

h3{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}
.password-input{
    border-radius: 5px;
    padding: 5px;
}
.linko{
margin-left: 13%;
}
@media screen and (max-width: 600px) {
    .shorturl{
       font-size: 1em;
    }
    .linko{
        margin-left: 0;
    }
    
}